.TicketsFilter {
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
  height: 50px;
  gap: 0;
  display: flex;
  margin: 20px auto;
  margin-top: 0px;
  border: 1px solid #DFE5EC;
}

.filterButton {
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  flex: 1;
  padding: 15px;
  background: white;
  border: none;
  color: #333;
  cursor: pointer;
  transition: 0.3s ease, color 0.3s ease;
}

.filterButton:nth-child(2),
.filterButton:nth-child(3) {
  border-left: 1px solid #DFE5EC;
}

.filterButton.selected {
  background: #2196F3;
  color: #fff;
}

.filterButton:not(.selected):hover {
  background: #F1FCFF;
}

.header {
  position: relative;
}